/*scrollbar*/
html[data-bs-theme="dark"] *::-webkit-scrollbar-track-piece {
    background: transparent
}

html[data-bs-theme="dark"] *::-webkit-scrollbar {
    background-color: #202022
}

html[data-bs-theme="dark"] *::-webkit-scrollbar-thumb {
    background-color: #585859;
    min-height: 24px;
    border: 3px solid #202022
}

html[data-bs-theme="dark"] *::-webkit-scrollbar-thumb:focus {
    background-color: #838384
}

html[data-bs-theme="dark"] *::-webkit-scrollbar-thumb:active {
    background-color: #838384
}

html[data-bs-theme="dark"] *::-webkit-scrollbar-corner {
    background-color: #202022
}

/*bootstrap*/
html[data-bs-theme="dark"] {
    --bs-heading-color: #cdd9e5
}

/*ag-grid*/
html[data-bs-theme="dark"] .ag-theme-alpine-dark {
    --ag-foreground-color: var(--bs-body-color);
}

/*markdown*/
html[data-bs-theme="dark"] .markdown-body,
html[data-bs-theme="dark"] .markdown-body pre code {
    color: currentColor;
}