/*全屏*/
.nrg-fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 100% !important;
    height: 100% !important;
}

/*loading*/
.nrg-loading {
    position: relative;
    visibility: hidden !important;
}
.nrg-loading-wait {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    color: var(--bs-body-color);
    visibility: visible !important;
    transform: translate(-50%, -50%);
    background-color: var(--bs-body-bg);
}

/*链接下划线*/
a {
    text-decoration: none;
}

/* Bootstrap */
.nrg-modal-header-btn {
    --bs-btn-padding-y: 0;
    --bs-btn-padding-x: 0.5em;
    vertical-align: bottom;
}

/*ag-grid*/
.ag-root-wrapper {
    /*边框颜色*/
    --ag-border-color: var(--bs-border-color);
}

.nrg-grid-b0 .ag-root-wrapper {
    /*无边框*/
    border: none !important;
}

.ag-popup-child {
    /*右键菜单叠堆高度*/
    z-index: 909 !important;
}

.ag-paging-panel {
    /*分页组件高度自适应*/
    height: auto !important;
    min-height: 32px !important;
}

@media (max-width: 576px) {
    /*小屏幕底部分页组件换行*/
    .ag-paging-panel {
        line-height: 2.5;
        flex-direction: column !important;
    }
}

div.ag-rich-select .ag-rich-select-list {
    /*编辑高度自适应*/
    width: 100%;
    min-width: 200px;
    height: 100% !important;
}
.ag-cell-inline-editing {
    /*编辑单元格*/
    height: 100% !important;
}

/*markdown*/
.markdown-body>:last-child {
    margin-bottom: 0!important;
}

/* 显示 */
.nrg-view ul,
.nrg-view ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.nrg-view li {
    list-style: none;
}
.nrg-view a {
    opacity: .9;
    border-radius: 6px;
    display: inline-block;
    padding: 0.3em 0.6em;
    margin: 0 0.5em 0.5em 0;
    color: var(--bs-dark-text);
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-light-bg-subtle);
}
.nrg-view a:hover{
    opacity: 1;
    border-color: var(--bs-warning-text);
}
.nrg-view h2,
.nrg-view h3,
.nrg-view h4 {
    font-size: 1em;
    margin-top: 1em;
}
.nrg-view h2:first-child,
.nrg-view h3:first-child,
.nrg-view h4:first-child {
    margin-top: 0;
}

/* Accordion open */
.accordion-button:not(.collapsed) {
    background-color: transparent;
}

/* search */
.nrg-search {
    z-index: 9;
    top: -0.4em;
    left: 6.25em;
    width: 50em;
    max-width: 70vw;
    background-color: var(--bs-body-bg);
}
.nrg-search a:first-child {
    border-top: none !important;
}
.nrg-search .active,
.nrg-search a:hover {
    color: var(--bs-info-text);
    background-color: var(--bs-info-bg-subtle)
}