/*头像*/
.uuidbox .uphoto {
    max-height: 50px;
    border-radius: 6px;
}

    .uuidbox .uphoto:hover {
        animation: myrotate 4s infinite linear;
    }

/*透明*/
.uuidbox .card, .uuidbox input {
    background-color: rgba(255, 255, 255, 0.66);
}

/*卡片*/
.nr-card a {
    float: left;
    font-size: 1em;
    max-width: 25em;
    font-weight: 500;
    color: #1f2938;
    overflow: hidden;
    border-radius: 4px;
    white-space: nowrap;
    padding: .4rem .8rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid #1f2938;
}

.nr-card a:hover {
    color: orange;
    border-color: orange;
}

/*静默搜索*/
.uuidjump {
    position: fixed;
    top: 8%;
    width: 90%;
    max-width: 700px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    background-color: rgba(255, 255, 255, 0.99);
}

    .uuidjump > div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .uuidjump ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-top: 1px solid #ddd;
    }

        .uuidjump ul li {
            width: 100%;
            color: #666;
            height: 2em;
            display: flex;
            align-items: center;
            cursor: pointer;
            list-style: none;
            border-bottom: 1px solid #ddd;
        }

            .uuidjump ul li:hover {
                background-color: #f3e6d5;
            }

            .uuidjump ul li.active {
                background-color: #fbe1c0;
            }

            .uuidjump ul li div {
                width: 40%;
                overflow: hidden;
                padding: 0 15px;
                white-space: nowrap;
                display: inline-block;
                text-overflow: ellipsis;
            }

                .uuidjump ul li div:first-child {
                    width: 59%;
                }

                .uuidjump ul li div img {
                    height: 18px;
                    max-width: 30px;
                    margin-right: 8px;
                    text-align: center;
                    border-radius: 3px;
                }


/*fork*/
.nr-fork img {
    width: 5.2em;
    height: 5.2em;
    margin: 2em 2em 0;
    border-radius: 50%;
}

    .nr-fork img:hover {
        animation: myrotate 4s infinite linear;
    }


/*旋转*/
@keyframes myrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
