/*Í·Ïñ*/
.uuidbox .uphoto {
    float: left;
    width: 95px;
    height: 95px;
    margin-right: 15px;
    border-radius: 6px;
}

/*Í¸Ã÷*/
.uuidbox .card, .uuidbox input {
    background-color: rgba(255, 255, 255, 0.66);
}

/*¿¨Æ¬Í·²¿*/
.uuidbox .card-header {
    padding: .1rem .8rem;
}
/*¿¨Æ¬Ö÷Ìå*/
.uuidbox .card-body {
    padding: .3rem;
}

    .uuidbox .card-body a {
        float: left;
        white-space: nowrap;
        margin: .4rem 1.4rem .4rem .4rem;
    }

        .uuidbox .card-body a img {
            height: 18px;
            min-width: 18px;
            max-width: 30px;
            border-radius: 3px;
            display: inline-block;
        }
/*¾²Ä¬ËÑË÷*/
.uuidjump {
    position: fixed;
    top: 2%;
    width: 90%;
    max-width: 500px;
    border-radius: 6px;
    border: 1px solid #d6efcc;
    box-shadow: 0px 2px 6px 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

    .uuidjump > div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .uuidjump ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-top: 1px solid #ddd;
    }

        .uuidjump ul li {
            width: 100%;
            color: #666;
            cursor: pointer;
            list-style: none;
            border-bottom: 1px solid #ddd;
        }

            .uuidjump ul li:hover {
                background-color: #f3e6d5;
            }

            .uuidjump ul li.active {
                font-weight: 600;
                background-color: #fbe1c0;
            }

            .uuidjump ul li div {
                width: 40%;
                overflow: hidden;
                padding: 0 15px;
                white-space: nowrap;
                display: inline-block;
                text-overflow: ellipsis;
            }

                .uuidjump ul li div:first-child {
                    width: 59%;
                }

                .uuidjump ul li div img {
                    height: 18px;
                    max-width: 30px;
                    margin-right: 8px;
                    text-align: center;
                    border-radius: 3px;
                }


/*fork*/
.uuidbox .card-fork {
    float: left;
    width: 120px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2rem 0 1rem 2rem;
}

    .uuidbox .card-fork img {
        margin: 5px;
        width: 72px;
        height: 72px;
        border-radius: 72px;
    }

        .uuidbox .card-fork img:hover {
            animation: myrotate 5s infinite linear;
        }


/*Ðý×ª*/
@keyframes myrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
